[Unit]
Description={{description}}
After=network.target

[Service]
Type=forking
User=root
Restart=always
RemainAfterExit=no
#Type=forking
Type=simple
Environment=PORT={{serverport}}
Environment=GIN_MODE=release
WorkingDirectory=/usr/share/websites/{{name}}
ExecStart=/usr/share/websites/{{name}}/{{name}}


[Install]
WantedBy=multi-user.target